<!DOCTYPE html>
  <html>
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    </head>
    <body>
        <form action="http://127.0.0.1:8087/img" method="post" enctype="multipart/form-data">
              <label for="file">
                  <input type="file" id="file" name="transport"/>
              </label>
              <input type="submit" placeholder="提交"/>
        </form>
        <a href="http://127.0.0.1:8087/attach">点击提供下载</a>
    </body>
  </html>
